.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(#0000007e, #0000007e), url(/background_banner.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.login-logo {
  width: 150px;
}

.login-form {
  width: 100%;
  max-width: 450px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  padding: 50px 40px;
  margin: auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  transition: all 0.3s ease;
}

.login-form h1 {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.login-form input {
  width: 80%;
  height: 50px;
  background: #222;
  color: white;
  margin: 14px 45px;
  border: 1px solid #444;
  outline: none;
  border-radius: 6px;
  padding: 0 20px;
  font-size: 16px;
}

.login-form input:focus {
  border-color: #e50914;
  background-color: #2a2a2a;
}



.login-form input::placeholder {
  font-size: 16px;
  font-weight: 500;
}

.login-form button {
  width: 80%;
  padding: 14px;
  background: #e50914;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 25px;
  margin-left: 45px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-form button:hover {
  background: #f40612;
}

.form-help {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #b3b3b3;
  font-size: 13px;
}

.remember {
  display: flex;
  align-items: center;
  gap: 0px;
}

.remember input {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.form-switch {
  margin-top: 40px;
  color: #737373;
}

.form-switch span {
  margin-left: 6px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.login-spinner {
  width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.login-spinner img {
  width: 60px;
}

@media (max-width: 500px) {
  .login {
    padding: 15px 5%;
  }
}

.login-form {
  padding: 20px;
  margin-top: 30px;
}




